.input {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 8px;
    margin-top: calc(0px - 1.7rem);
}

.inputCampo {
    color: var(--gray-100);

    width: calc(100% - 8px - 90px);
    padding: 1rem;

    border-radius: 8px;
    border: 1px solid var(--gray-700);
    background-color: var(--gray-500);
}

.inputCampo::placeholder {
    color: var(--gray-300);
}

.inputCampo:focus {
    outline: transparent;
    border: 1px solid var(--purple-600);
    box-shadow: 0 0 0 2px var(--purple-600);
}

.button {
    color: var(--gray-100);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    width: 90px;
    padding: 1rem;
    border: none;
    border-radius: 8px;

    font-weight: 700;
    font-size: 0.875rem;
    background-color: var(--blue-600);
    transition: ease-in .08s;
}

.button:focus, .button:hover {
    outline: transparent;
    cursor: pointer;
    background-color: var(--blue-300);
}

@media (max-width: 375px) {
    .inputCampo {
        width: 100%;
    }
}