.tasks {
    color: var(--gray-100);
    display: flex;
    align-items: flex-start;
    gap: 8px;

    padding: 1rem;
    border-radius: 8px;
    border: 1px solid var(--gray-400);

    background-color: var(--gray-500);
    flex-direction: row;
}

.radioIcon {
    color: var(--blue-300);
    box-sizing: content-box;
    padding: 5px;
    transition: ease-in .08s;
}

.radioIcon:hover {
    color: var(--blue-600);
    cursor: pointer;
}

.content {
    font-size: 0.875rem;
    box-sizing: content-box;
    padding: 5px;
}

.trashIcon {
    display: flex;
    color: var(--gray-300);

    border-radius: 4px;
    padding: 5px;
    transition: ease-in .08s;
}

.trashIcon:hover {
    color: var(--danger);
    cursor: pointer;
    background-color: var(--gray-400);
}

@media (max-width: 768px) {
    .radioIcon {
        order: 1;
    }
    .trashIcon {
        order: 0;
    }
}